.new_person
  .name
    = text_field :person, :name
  .phones
    = phone_field :person, :phones
  .email
    = email_field :person, :email
  .descriptions
    = text_field :person, :descriptions
  .package
    = text_field :person, :package
  .model_id
    = collection_select(:person, :model_id, Model.all, :id, :name, :prompt => true)
  .manager_id
    = collection_select(:person, :manager_id, Manager.all, :id, :name, :prompt => true)
  .order_id
    = collection_select(:person, :order_id, Car.order('cars.order').all, :id, :order, :prompt => true)