.top-menu
  = render 'functions'

.mid-box
  .people_table.table
    .header.header
      .id.cell
        \#
      .name.cell
        ФИО
      .phones.cell
        Телефоны
      .email.cell
        e-mail
      .descriptions.cell
        Комментарий
      .package.cell
        Комплеаткция
      .model_id.cell
        Модель
      .manager_id.cell
        Менеджер
      .order_id.cell
        Номер заказ

    .filters.header
      .id.cell
        = text_field :search, :id, :size => 1, :class => :filter
      .name.cell
        = text_field :search, :name, :size => 36, :class => :filter
      .phones.cell
        = text_field :search, :phones, :size => 8, :class => :filter
      .email.cell
        = text_field :search, :email, :size => 8, :class => :filter
      .descriptions.cell
        = text_field :search, :desc, :size => 16, :class => :filter
      .package.cell
        = text_field :search, :package, :size => 16, :class => :filter
      .model_id.cell
        = text_field :search, :model, :size => 8, :class => :filter
      .manager_id.cell
        = text_field :search, :manager, :size => 8, :class => :filter
      .order_id.cell
        = text_field :search, :order, :size => 8, :class => :filter

    .people.table
      - for person in @people
        .person.row{:id => person.id}
          .id.cell
            =person.id
          .name.cell
            =person.name
          .phones.cell
            =person.phones.join(', ') if person.phones
          .email.cell
            = person.email
          .descriptions.cell
            = person.descriptions
          .package.cell
            = person.package
          .model_id.cell
            - if person.models.any?
              - for model in person.models
                = model.name
          .manager_id.cell
            = person.manager.try(:name)
          .order_id.cell
            = person.order_id
.bottom-box
  .buttons
  .controls
    = link_to 'Очистить фильтры', '#', :id => 'filters_clear'
    = link_to 'Добавить контакт', '#', :id => 'contact_add'


.contract_form
.top-box
  .communications.table
.respond