.new_contract{:style => 'display: none', :id => @contract.id}
  .errors
  .contract_form

    .client
      %label Клиент
      = collection_select(:contract, :person_id, Person.all, :id, :name_with_phone, :prompt => true, :size => 30)
    .model
      %label Модель
      = "#{@contract.car.model.name} #{@contract.car.order}"

    .price
      %label Цена
      = text_field :contract, :price
    .pre_pay
      %label Предоплата
      = text_field :contract, :prepay
    .date
      %label Дата
      =text_field :contract, :date, :value =>  I18n.localize(Date.today)
    .buttons
      = link_to 'сохранить','#',  :class => 'update_contract',:id => @contract.id
      = link_to 'печать','#',  :class => 'print_contract',:id => @contract.id