.colon-top-left
  стр. 1 из 5

%h1
  Договор №
  = Time.now.year.to_s[2..3] + '/'
  = @contract.car.order.to_s[7..10]
  %br/
  купли-продажи транспортного средства
.city
  г. Челябинск
.top_date
  = I18n.localize(Time.now, :format => '%d %B %Y г.')
%p{:style => 'margin-top: 45px;text-indent: 3.5em;'}
  %strong
    Общество с ограниченной ответственностью «УралАвтоХаус»,
  являющееся официальным дилером ЗАО «Мерседес-Бенц РУС», в лице генерального директора
  %trong
    Вердыша Вячеслава Викторовича
  ,действующего на основании Устава, именуемое в дальнейшем
  %strong «Продавец»,
  с одной стороны и
%p{:style => 'text-indent: 3.5em;'}
  %strong
    = @contract.person.name + ','
  именуемый (ая) в дальнейшем
  %strong «Покупатель»,
  с другой стороны, именуемые в дальнейшем «Стороны», заключили настоящий Договор о нижеследующем:

%h2 1. Предмет договора
%p
  1.1. Продавец передает, а Покупатель оплачивает и приобретает в собственность транспортное средство марки «Мерседес-Бенц» модели
  %strong
    =@contract.car.model.name
  (далее по тексту «автомобиль»).
%p 1.2. Комплектация автомобиля указывается в спецификации, являющейся Приложением к настоящему Договору.

%h2 2. Цена и условия оплаты
%p
  2.1. Цена автомобиля составляет
  = @contract.price
  (
  = RuPropisju.amount_in_words(@contract.price, :rur)
  00 копеек)
  и включает в себя все обязательные к уплате налоги и сборы.
%p
  2.2. При подписании настоящего Договора Покупатель производит предоплату в размере
  = @contract.prepay
  (
  = RuPropisju.amount_in_words(@contract.prepay, :rur)
  00 копеек.
  Предоплата производится путем безналичного перечисления денежных средств на р/с Продавца или внесением наличных денежных средств в кассу Продавца в течение 5 (Пяти) банковских дней после подписания настоящего договора. При безналичном способе оплаты моментом оплаты является момент исполнения банком Покупателя платежного поручения о перечислении денежных средств на р/с Продавца.
%p 2.3. Оставшуюся стоимость автомобиля Покупатель оплачивает в течение 10 (Десяти) дней от даты подписания настоящего договора путем безналичного перечисления денежных средств на р/с Продавца или внесением наличных денежных средств в кассу Продавца.
%p 2.4. Если какие-либо платежи не будут произведены Покупателем в установленные сроки, то Продавец вправе в одностороннем порядке расторгнуть Договор, а автомобиль, предусмотренный для Покупателя, реализовать по своему усмотрению. При этом с Покупателя взимается штраф в размере 5% от стоимости, указанной в п. 2.1 настоящего договора.
%p 2.5. В случае если в период действия настоящего договора изменится отпускная цена завода - изготовителя, ставки налоговых, таможенных и иных платежей, которые повлекут изменение ранее согласованных сторонами условий, цена транспортного средства подлежит изменению, путем подписания сторонами дополнительного соглашения. При отказе Покупателя от подписания дополнительного соглашения об изменении цены транспортного средства, Продавец вправе отказаться от исполнения договора на ранее согласованных условиях.

%h2 3. Права и обязанности Сторон
%p 3.1. Продавец обязан:
%p 3.1.1. Произвести доставку и предпродажную подготовку автомобиля, включая, в случае необходимости, кузовную обработку дефектов транспортировки.
%p 3.1.2. Передать Покупателю автомобиль в срок, предусмотренный настоящим договором, свободным от любых прав третьих лиц и прошедшим таможенную очистку;
%p 3.1.3. Одновременно с передачей автомобиля Продавец должен вручить Покупателю комплект документов: ПТС, заверенную копию ГТД, договор купли-продажи транспортного средства для постановки на учет в ГИБДД, акт приема-передачи транспортного средства, товарную накладную, сервисную книжку, руководство по эксплуатации на русском языке.
%p 3.2. Продавец вправе:
%p 3.2.1. Требовать надлежащего исполнения условий настоящего Договора со стороны Покупателя.
%p 3.3. Покупатель обязан:
%p 3.3.1. Своевременно и в полном объеме оплатить автомобиль.
%p 3.3.2. Своевременно принять автомобиль.
%p 3.3.3. Проводить техническое обслуживание (гарантийное обслуживание) автомобиля исключительно на авторизованных станциях технического обслуживания.
%p 3.3.4. Покупатель вправе:
%p 3.3.4.1. Требовать надлежащего исполнения условий настоящего Договора со стороны Продавца.
%p 3.3.4.2. Получить от Продавца перечень станций технического обслуживания, авторизованных ЗАО «Мерседес-Бенц РУС».

%h2 4. Порядок и сроки поставки

%p  4.1. Автомобиль передается Покупателю в течение 10 (Десяти) дней с момента полной оплаты согласно п. 2.3 настоящего договора.
%p  4.2. Право собственности на автомобиль переходит покупателю при получении автомобиля в момент подписания акта приема-передачи автомобиля.

%h2 5. Особые положения

%p 5.1. Если по каким-либо причинам автомобиль был передан Покупателю до полной оплаты автомобиля, то до осуществления

.colon-bottom-left
  _______________________/Вердыш В.В./
.colon-bottom-right
  _______________________/
  = @contract.person.short_name
  \/
%br/
%br/
%br/
%br/


.page-break

.paginator
  стр. 2 из 5
%p
  полной оплаты Продавец оставляет право собственности на автомобиль за собой. В случае повреждения / утраты / угона или иной причины выбытия автомобиля из владения Покупателя, последний не освобождается от оплаты транспортного средства.


%p 5.2. Покупатель до полной оплаты автомобиля не имеет права продавать, передавать в залог, иным образом отчуждать автомобиль без предварительного письменного согласия Продавца.
%p 5.3. До полной оплаты автомобиля Покупатель обязан проводить необходимое техническое обслуживание (включая гарантийное обслуживание) транспортного средства исключительно на авторизованных станциях технического обслуживания.
%p 5.4. Покупатель уведомлен о том, что данные по автомобилям, приведенные в каталогах и рекламных проспектах, являются приблизительными и не обязательными для Продавца и / или завода-изготовителя. Покупатель соглашается с тем, что завод-изготовитель оставляет за собой право произвести конструктивные изменения.
%p 5.5. Покупатель обязуется в течение срока действия настоящего договора, а также в период гарантийного срока на автомобиль письменно информировать Продавца о любых изменениях контактной информации, включая адрес проживания, указанные в настоящем договоре. Негативные последствия отсутствия у Продавца такой информации возлагаются на Покупателя.
%p 5.6. Настоящим, Покупатель выражает свое безусловное согласие на обработку своих персональных данных (которые предоставлены или могут быть предоставлены Продавцу) любым способом допустимым законодательством РФ, в том числе на сбор, систематизацию, накопление, хранение, уточнение, использование, уничтожение и распространение путем передачи, в том числе трансграничной, этих данных и осуществление аналогичных действий ЗАО "Мерседес-Бенц РУС" (место нахождения: 125167, г. Москва, Ленинградский проспект, д. 39, корп. «а») и другим  предприятиям концерна «Даймлер АГ», а также любым другим компаниям, с которыми Продавец, либо ЗАО "Мерседес-Бенц РУС" по собственному усмотрению заключает договоры, для следующих основных целей: предоставления мне информации о товарах и услугах, которые потенциально могут представлять интерес; проведения социологических и других исследований, в том числе исследования индекса удовлетворенности потребителей качеством предоставленных товаров и услуг, проводимых Продавцом и/или ЗАО "Мерседес-Бенц РУС" и/или их контрагентами. Согласие предоставляется на 10 (Десять) лет. Покупатель уведомлен и согласен с тем, что указанное согласие может быть отозвано путем направления в письменной форме уведомления в адрес Продавца, заказным почтовым отправлением с описью вложения, либо вручено лично под роспись уполномоченному представителю Продавца.
%p 5.7. Покупатель подтверждает, что до момента подписания настоящего договора Продавец предоставил ему всю необходимую и достоверную информацию о приобретаемом им транспортном средстве.

%p  6. Приемка транспортного средства

%p  6.1. Автомобиль передается Покупателю по адресу: Челябинская область, г. Копейск, пр. Победы, 71.
%p
  6.2. Покупатель проверяет состояние и комплектацию автомобиля непосредственно при его приемке. При этом Продавец гарантирует, что автомобиль прошел предпродажную подготовку на его оборудовании.
  %br/
  Покупатель имеет право в течение 10 дней с момента уведомления по телефону Покупателя, указанному в настоящем договоре, о готовности товара к передаче осмотреть предмет купли-продажи, оплатить полную стоимость автомобиля, а также обязан в течение указанного срока осуществить его приемку. Проведение приемки транспортного средства и факт его получения Покупателем оформляются актом приема-передачи, подписав который, Покупатель будет считаться безусловно подтвердившим, что ему предоставлена возможность ознакомиться с автомобилем, и им осуществлена его приемка, автомобиль имеет полное соответствие комплектации согласно Приложению, отсутствуют какие бы то ни было явные недостатки, ему передан сам автомобиль в надлежащем состоянии, все принадлежности к нему и все предусмотренные договором документы. Любые претензии Покупателя относительно комплектации автомобиля после его приемки исключаются.
%p  6.3. При несвоевременной приемке автомобиля Покупателем, последний обязуется оплатить Продавцу неустойку в виде пени в размере 0,1% от стоимости автомобиля за каждый день просрочки получения автомобиля.
%p  6.4. Если Покупатель или уполномоченное им лицо совершает при приемке пробную поездку до подписания акта приема-передачи, то гражданская ответственность, а также ответственность за повреждение автомобиля в результате возможного ДТП, возлагаются на Покупателя.
%p  6.5. В случае если срок передачи автомобиля увеличивается, по причинам, не зависящим от Продавца, стороны заключают дополнительное соглашение об изменении срока передачи транспортного средства. При недостижении согласия Стороны расторгают настоящий договор, при этом Продавец возвращает Покупателю полученную от него сумму аванса в течение 10 дней, а обязательства Сторон полностью прекращаются на основании ст. 407 ГК РФ.

%p  7. Гарантийные условия для автомобилей марки Мерседес-Бенц

%p  7.1. Общий гарантийный срок для легковых и внедорожных автомобилей составляет 2 (два) года. Этот срок действует без ограничения пробега с даты передачи автомобиля конечному покупателю. Общий гарантийный срок для малотоннажных автомобилей составляет 2 (два) года или 200 000 (двести тысяч) км пробега с даты передачи автомобиля конечному покупателю,  в зависимости от того, что наступит раньше.
%p  7.2. Если конечный покупатель является потребителем в смысле российского законодательства о защите прав потребителей, то применяются положения такого законодательства.
%p  7.3. Если иное не установлено законодательством, гарантийные обязательства состоят в ремонте Автомобилей или замене неисправных Деталей по усмотрению ДИЛЕРА.
%p
  7.4. Гарантийные обязательства прекращаются досрочно в случаях:
  %br/
  a) при изменении, дооборудовании Автомобилей  третьими лицами, не уполномоченными ДИСТРИБЬЮТОРОМ или заводом-изготовителем осуществлять такие изменения, или при нарушении инструкций по проведению таких работ;
  %br/
  b) при установке навесного дополнительного оборудования, не имеющего одобрения завода-изготовителя или ДИСТРИБЬЮТОРА или с нарушениями инструкций по его установке;
  %br/
  c) при проведении технического обслуживания или ремонта Автомобилей третьими лицами, официально не уполномоченными ДИСТРИБЬЮТЕРОМ или заводом-изготовителем осуществлять такой ремонт;
  %br/
  d) при установке на Автомобили деталей, не разрешенных заводом-изготовителем и/или ДИСТРИБЬЮТОРОМ;
  %br/
  .colon-bottom-left
    _______________________/Вердыш В.В./
  .colon-bottom-right
    _______________________/
    = @contract.person.short_name
    \/

  %br/
  %br/
  %br/
  %br/
  .page-break

.paginator
  стр. 3 из 5
%p
  e) при несоблюдении владельцем автомобиля предписаний по обращению с автомобилем (Руководства по эксплуатации), в особенности, если предписанные в сервисной книжке работы по техническому обслуживанию не производились в надлежащие сроки или производились лицами, не уполномоченными ДИСТРИБЬЮТОРОМ или заводом-изготовителем осуществлять ремонт или техническое обслуживание соответствующих Автомобилей;
%p
  f) при использовании Автомобилей не по обычному назначению, в том числе в автомобильных спортивных соревнованиях;
  g) при превышении допустимой полной массы Автомобилей, осевых нагрузок, допустимых для Автомобилей полезной нагрузки или грузоподъемности шасси;
  %br/
  h) при использовании рабочих жидкостей (топлива, масла для двигателей, КПП и гидравлических систем, смазки, охлаждающих жидкостей, жидкости для тормозных систем, консервирующих средств и др.) не разрешенных ДИСТРИБЬЮТОРОМ и/или заводом-изготовителем.
%p
  7.5. Гарантийные обязательства не распространяются на:
  %br/
  a) работы по регламентному техобслуживанию и уходу за Автомобилем, регулировочные и наладочные работы, например: регулировка в системе впрыска и зажигания; регулировка топливного насоса высокого давления; очистка топливной системы; уход за тормозной системой и ее прокачка; регулировка сцепления; регулировка натяжения ремней; балансировка, перестановка колес, проверка давления в шинах; подтяжка болтов и гаек; сход-развал; смазка и замена масел; регулировка люка в крыше и смазка направляющих; регулировка дверей; регулировка фар; очистка и регулировка форсунок омывателей; проверка на функциональную работоспособность, включая пробные поездки; контроль уровней рабочих жидкостей; уход за аккумулятором;
  %br/
  b) детали, подверженные естественному износу, в том числе, подлежащие замене в рамках регламентного техобслуживания, естественный износ деталей, например, но не только, такие как: элементы воздушных, масляных и топливных фильтров; амортизаторы подвески; свечи зажигания; свечи накаливания; конденсаторы; лампы накаливания (например, обрыв нити накаливания); предохранители, тормозные колодки, тормозные накладки; диск сцепления; ремни; щетки стеклоочистителя и профильные резинки щеток; шланги систем охлаждения и шланги, по которым циркулирует охлаждающая жидкость; шины и т. д.;
  %br/
  c) недостатки, возникшие не по вине завода-изготовителя, ДИЛЕРА или ДИСТРИБЬЮТОРА (например, из-за аварии или иного внешнего воздействия, случившегося после передачи автомобиля Покупателю).
  %br/
  d) оборудование, детали, навесное оборудование, кузова, надстройки или работы, которые были собраны / установлены или выполнены не Производителем, в особенности на кузовное оборудование, изготовленное и установленное сторонними кузово-производителями.
  %br/
  e) дополнительные затраты на демонтаж навесного оборудования, кузовов, надстроек и т.д. необходимый для проведения гарантийного ремонта Автомобиля.
%p
  7.6. Гарантийный ремонт (устранение недостатков) производится в следующие сроки:
  %br/
  при наличии необходимых для выполнения гарантийного ремонта запасных частей на складе Продавец недостатки, обнаруженные в автомобиле, устраняются Продавцом в течение 45 (Сорока пяти) дней с даты подтверждения специалистами СТОА гарантийного случая, при обязательном оформлении Покупателем передачи автомобиля в гарантийный ремонт.
%p  7.7. Покупатель осознаёт, что место его постоянного жительства и место постоянной эксплуатации транспортного средства может находиться на значительном расстоянии от ближайшей СТОА официального дилера, в связи с чем, для осуществления гарантийного обслуживания Покупатель за свой счет осуществляет доставку автомобиля до выбранного им дилера. Выезд специалиста СТОА Продавца к месту нахождения автомобиля Покупателя не осуществляется.
%p  7.8. Покупатель осознаёт, что автомобиль, как технически сложный товар, может иметь незначительные отклонения, не влияющие на качество, характеристики и работоспособность автомобиля или его элементов, а также понимает, что фактические параметры автомобиля могут отличаться от справочных в зависимости от манеры вождения, температуры окружающего воздуха, качества топлива, состояния дорожного покрытия и прочих характеристик.
%p
  7.9. Межсервисные интервалы для автомобилей «Мерседес-Бенц» составляют:
  %br/
  = '-'
  для легковых автомобилей и внедорожников с бензиновыми двигателями –
  = '15 000'
  км или
  = 1
  год, что наступит ранее,
  %br/
  = '-'
  для легковых автомобилей или внедорожников с дизельными двигателями – 10 000 км или 1 год, что наступит ранее.
%p  7.10. Покупатель (клиент) готов эксплуатировать автомобили с дизельным двигателем экологического класса Евро 4 и выше с учетом того, что данный двигатель требует применения соответствующего качественного топлива, содержание серы в котором не превышает 50 мг на 1 кг топлива. Покупатель (клиент) проинформирован, что содержание серы можно проверить, потребовав от АЗС предъявление сертификата о соответствии топлива ГОСТу, сверив и убедившись, что фактически измеренное содержание серы не более 50 мг/кг. Также покупатель (клиент)  проинформирован, что использование несоответствующего топлива может привести к выходу из строя силового агрегата, топливной и/или выпускной системы автомобиля, при этом соответствующие дефекты могут быть отнесены к не гарантийным случаям (для всех автомобилей с дизельными двигателями).

%p  8. Ответственность сторон

%p  8.1. Если иное не предусмотрено настоящим Договором, то Стороны за нарушение условий настоящего Договора несут ответственность в соответствии с действующим российским законодательством.
%p  8.2. В случае одностороннего отказа Покупателя от исполнения условий настоящего договора, в том числе от получения автомобиля, кроме случая несовпадения заказанной комплектации и цены автомобиля и фактически предоставленной Продавцом, сумма внесенной оплаты возвращается ему в российских рублях только после реализации автомобиля за вычетом договорной неустойки в размере 5% от стоимости автомобиля, указанной в п. 2.1. настоящего договора.

%p  9. Обстоятельства непреодолимой силы (Форс-мажор)

%p  9.1. В случае наступления обстоятельств, делающих невозможным частичное или полное выполнение обязательств по данному договору одной или обеими сторонами, а именно: производственный конфликт на заводе-изготовителе (забастовка, локаут и т.п.), наводнение, землетрясение, ограничения на экспорт и импорт, объявленные и необъявленные военные действия и/или другие независящие от сторон обстоятельства, сторона, для которой возникли данные обстоятельства, освобождается от выполнения ею обязательств до прекращения действия обстоятельств непреодолимой силы.
%p  9.2. Сторона, для которой возникли данные обстоятельства, должна незамедлительно проинформировать об этом другую сторону.
%p  9.3. Доказательством наступления обстоятельств непреодолимой силы является соответствующее свидетельство, выданное


.colon-bottom-left
  _______________________/Вердыш В.В./
.colon-bottom-right
  _______________________/
  = @contract.person.short_name
  \/

%br/
%br/
%br/
%br/
.page-break

.paginator
  стр. 4 из 5
%p Торгово-промышленной палатой страны, в которой наступили обстоятельства непреодолимой силы.
%p  9.4. Если обстоятельства непреодолимой силы длятся более двух месяцев, каждая из сторон имеет право требовать расторжения настоящего Договора.
%p  10. Вступление в силу, срок действия и расторжение Договора
%p  10.1. Данный Договор вступает в силу с момента его подписания обеими сторонами и действует до отмены или изменения условий.

%p  11. Заключительные положения

%p 11.1. Изменения и дополнения к Договору совершаются в письменной форме. Устные заявления представителей и служащих Продавца являются для последнего обязательными только в том случае, если они подтверждены Продавцом в письменной форме. Дополнительных договоренностей не существует.
%p
  11.2. Все споры и разногласия, возникающие из данного Договора или в связи с ним, в том числе относительно его действительности или недействительности подлежат разрешению в досудебном претензионном порядке, а при не достижении согласия между сторонами, окончательному разрешению:
  %br/
  Ленинским районным судом г. Челябинска, если Покупатель – физическое лицо;
  %br/
  Арбитражным судом Челябинской области, если Покупатель – предприниматель без образования юридического лица или юридическое лицо.

%p 11.3. Права и обязанности, вытекающие из настоящего Договора, не могут быть переданы третьим лицам.
%p 11.4. Если какое-либо положение настоящего Договора станет недействительным или потеряет силу, действие остальных положений останется без изменений.
%p 11.5. Все Приложения, указанные в тексте настоящего Договора, являются его неотъемлемой составной частью.
%p 11.6. Настоящий договор подписан в двух экземплярах, по одному экземпляру для каждой стороны.

- 32.times do
  %br/






.colon-bottom-left
  %p
    %strong ПРОДАВЕЦ: ООО «УралАвтоХаус»
  %p  Юридический адрес: 454012, г. Челябинск, ул. Горелова, 12
  %p  ИНН 7449023616 / КПП 744901001
  %p  Р/с 40702810272020102062 в Челябинском отделении N 8597 г. Челябинск
  %p  К/с 30101810700000000602, БИК 047501602

  %br/
  %br/
  %p
    %strong
      ПОКУПАТЕЛЬ:
    = @contract.person.name
  %p
    Дата рождения:
    = @contract.person.birthday
  %p
    Адрес:
    = @contract.person.address
  %p
    Паспорт
    = @contract.person.id_series
    = @contract.person.id_number
    = @contract.person.id_dep
  %p
    Контактный  тел.:
    = @contract.contact_phone

  _______________________/Вердыш В.В./

.colon-bottom-right
  - 12.times do
    %br/
  _______________________/
  = @contract.person.short_name
  \/

- 16.times do
  %br/
.page-break

%p
  %center
    %strong
      Приложение № 1 к Договору №
      = Time.now.year.to_s[2..3] + '/'
      = @contract.car.order.to_s[7..10]
      от
      = I18n.localize(Time.now, :format => '%d %B %Y г.')
%p
  %center
    %strong
      купли-продажи транспортного средства
%p
  %center
    Спецификация на автомобиль Мерседес-Бенц
    = @contract.car.model.name
%br/
%p
  VIN
  = @contract.car.vin
%br/
%p
  Год выпуска 2011
%br/
%p
  Окраска
  =@contract.car.color_id
%br/
%p
  Отделка салона:
  = @contract.car.interior_id

%br/
%strong Комплектация:
%br/
%p
- codes = @contract.car.codes
- for code in codes
  - if code[1] == 'Опция неизвестна'
    - true
  - else
    = code[1]
    %br/

- (codes.count - 40).times do
  %br/

.colon-bottom-left
  %p
    %strong ПРОДАВЕЦ: ООО «УралАвтоХаус»
  %p  Юридический адрес: 454012, г. Челябинск, ул. Горелова, 12
  %p  ИНН 7449023616 / КПП 744901001
  %p  Р/с 40702810272020102062 в Челябинском отделении N 8597 г. Челябинск
  %p  К/с 30101810700000000602, БИК 047501602

  %br/
  %br/

  %p
    %strong
      ПОКУПАТЕЛЬ:
    = @contract.person.name
  %p
    Дата рождения:
    = @contract.person.birthday
  %p
    Адрес:
    = @contract.person.address
  %p
    Паспорт
    = @contract.person.id_series
    = @contract.person.id_number
    = @contract.person.id_dep
  %p
    Контактный  тел.:
    = @contract.person.phones

  _______________________/Вердыш В.В./

.colon-bottom-right
  - 12.times do
    %br/
  _______________________/
  = @contract.person.short_name
  \/

