%p#notice= notice
%p
  %b Fio:
  = @client.fio
%p
  %b Comment:
  = @client.comment
%p
  %b Phone1:
  = @client.phone1
%p
  %b Phone2:
  = @client.phone2
%p
  %b Phone3:
  = @client.phone3
%p
  %b Phone4:
  = @client.phone4
%p
  %b Date:
  = @client.date
%p
  %b Adress:
  = @client.adress
%p
  %b Birthday:
  = @client.birthday
%p
  %b Brand:
  = @client.brand
%p
  %b Manager:
  = @client.manager
%p
  %b Model:
  = @client.model
%p
  %b Icon:
  = @client.icon
%p
  %b Creditmanager:
  = @client.creditmanager
%p
  %b Zv:
  = @client.zv
%p
  %b Vz:
  = @client.vz
%p
  %b Tst:
  = @client.tst
%p
  %b Dg:
  = @client.dg
%p
  %b Vd:
  = @client.vd
%p
  %b Out:
  = @client.out
%p
  %b Icon2:
  = @client.icon2
%p
  %b Vin:
  = @client.vin
%p
  %b Cost:
  = @client.cost
%p
  %b Status:
  = @client.status
%p
  %b Commercial:
  = @client.commercial
%p
  %b Tmp:
  = @client.tmp
%p
  %b Files:
  = @client.files
%p
  %b Phone11:
  = @client.phone11
%p
  %b Phone22:
  = @client.phone22
%p
  %b Phone33:
  = @client.phone33
%p
  %b Phone44:
  = @client.phone44
%p
  %b Email:
  = @client.email
%p
  %b Pas1:
  = @client.pas1
%p
  %b Pas2:
  = @client.pas2
%p
  %b Pas3:
  = @client.pas3
%p
  %b Clientbirthday:
  = @client.clientbirthday
%p
  %b Prepay:
  = @client.prepay
%p
  %b Date contract:
  = @client.date_contract
%p
  %b Carpets:
  = @client.carpets
%p
  %b Mudguard:
  = @client.mudguard
%p
  %b Tech 1:
  = @client.tech_1
%p
  %b Tech 2:
  = @client.tech_2
%p
  %b Tires:
  = @client.tires
%p
  %b Pas4:
  = @client.pas4
%p
  %b Client adress:
  = @client.client_adress
%p
  %b Cause:
  = @client.cause
%p
  %b Trade in price:
  = @client.trade_in_price
%p
  %b Trade in desc:
  = @client.trade_in_desc
%p
  %b Used vin:
  = @client.used_vin
= link_to 'Edit', edit_client_path(@client)
|
\#{link_to 'Back', clients_path}
