= form_for(@color, :html => {:class => 'form form-horizontal'}) do |f|
  - if @color.errors.any?
    #error_explanation
      %h2
        = pluralize(@color.errors.count, "error")
        prohibited this color from being saved:
      %ul
        - @color.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :code, :class => 'control-label'
    .controls  
      = f.text_field :code
  .control-group
    = f.label :desc, :class => 'control-label'
    .controls  
      = f.text_field :desc
  .control-group
    = f.label :color, :class => 'control-label'
    .controls  
      = f.text_field :color
  .control-group
    = f.label :metallic, :class => 'control-label'
    .controls  
      = f.check_box :metallic
  .control-group
    .controls
      = f.submit
