.communication
  .subject
    = @comminucation.subject
  .action
    = @comminucation.action
  .action_date
    = @comminucation.action_date
  .action_date_time
    = @comminucation.action_date_time
  .next_action
    = @comminucation.next_action
  .next_action_date
    = @comminucation.next_action_date
  .description

= render 'form'