.communication.row
  .subject.cell
    = communication.subject
  .action.cell
    = communication.action
  .action_date.cell
    = communication.action_date.strftime('%d.%m.%y') if communication.action_date
  .action_time.cell
    = communication.action_date.strftime('%H:%M') if communication.action_date
  .next_subject.cell
    = communication.next_subject
  .next_action.cell
    = communication.next_action
  .next_action_date.cell
    = communication.next_action_date.strftime('%d.%m.%y') if communication.next_action_date
  .next_action_time.cell
    = communication.next_action_time
  .description.cell
    = communication.descriptions
  .manager.cell
    = communication.manager.try(:name)