.edited_car{:id => @car.id}
  .id
    = @car.id
  .order
    = text_field :car, :order, {:size => 8}
  .klasse
    = collection_select(:car, :klasse_id, Klasse.all, :id, :name, :prompt => true)
  .model
    = collection_select(:car, :model_id, Model.all, :id, :name, :prompt => true)
  .line
    = collection_select(:car, :line_id, Line.all, :id, :name, :prompt => true)
  .vin
    = text_field :car,  :vin, :size => 18
  .color
    = text_field :car,  :color_id, :size => 3
  .interior
    = text_field :car,  :interior_id, :size => 3
  .price
    = text_field :car,  :price, :size => 6
  .options
    = text_field :car,  :options
  .person
    = collection_select(:car, :person_id, Person.all, :id, :name, :prompt => true)
  .published
    = check_box :car, :published
  .arrival
    = text_field :car,  :arrival
  .days_at_stock
    = text_field :car,  :days_at_stock
  .comments
    = text_field :car,  :comments
  .vp
    = text_field :car,  :vp
  .insurance
    = text_field :car,  :insurance
  .manager
    = collection_select(:car, :manager_id, Manager.all, :id, :name, :prompt => true)


  .payment
    = collection_select(:car, :payment_id, Manager.all, :id, :name, :prompt => true)
  .car_type
    = text_field :car,  :car_type
  .run
    = text_field :car,  :run

